*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, #291633, #D35529);
    
}

.linhas {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.linhas.x .celulas:not(.x):not(.circle):hover::after,
.linhas.x .celulas:not(.x):not(.circle):hover::before,
.linhas.circle .celulas:not(.x):not(.circle):hover::after,
.linhas.x .celulas:not(.x):not(.circle):hover::before {
background: rgba(255, 255, 255, 0.3) !important;
}

.celulas {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.celulas.x, .celulas.circulo {
    cursor: not-allowed;
}

.celulas:nth-child(1),
.celulas:nth-child(2),
.celulas:nth-child(3) {
    border-top: none;
}

.celulas:nth-child(7),
.celulas:nth-child(8),
.celulas:nth-child(9) {
    border-bottom: none;
}

.celulas:nth-child(1),
.celulas:nth-child(4),
.celulas:nth-child(7) {
    border-left: none;
}

.celulas:nth-child(3),
.celulas:nth-child(6),
.celulas:nth-child(9) {
    border-right: none;
}

/*X*/   
.celulas.x:before,
.celulas.x:after,
.linhas.x .celulas:not(.x):not(.circulo):hover:after,
.linhas.x .celulas:not(.x):not(.circulo):hover:before{
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: #fff;
    position: absolute;
}

.celulas.x:before,
.linhas.x .celulas:not(.x):not(.circulo):hover:before {
    transform: rotate(45deg);
}

.celulas.x:after,
.linhas.x .celulas:not(.x):not(.circulo):hover:after {
    transform: rotate(-45deg);
}

/*Circulo*/
.celulas.circulo:before,
.celulas.circulo:after,
.linhas.circulo .cell:not(.x):not(.circle):hover::after,
.linhas.circulo .cell:not(.x):not(.circle):hover::after {
    content: "";
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    background: #fff;
    position: absolute;
    border-radius: 50%;
}

.mensagem-vitoria {
    display: none;
    position: fixed;    
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}

.mensagem-vitoria-btn {
    font-size: 2.5rem;
    background-color: #291633;
    color:#fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.mensagem-vitoria-btn:hover {
    opacity: 0.5;
}

.mensagem-vitoria-txt {
    color:#fff;
    font-size: 5rem;
}